<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lweynant.yearly"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".YearlyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.list_events.ListEventsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".EventNotificationService"
            android:exported="false"/>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.add_event.AddBirthdayActivity"
            android:label="@string/title_activity_add_birthday"
            android:parentActivityName=".controller.list_events.ListBirthdaysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.list_events.ListBirthdaysActivity"/>
        </activity>
        <activity
            android:name=".controller.add_event.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".controller.list_events.ListEventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lweynant.yearly.controller.list_events.ListEventsActivity"/>
        </activity>
        <activity
            android:name=".controller.show_event.ShowBirthdayActivity"
            android:label="@string/title_activity_show_birthday"
            android:parentActivityName=".controller.list_events.ListBirthdaysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lweynant.yearly.controller.list_events.ListBirthdaysActivity"/>
        </activity>
        <activity
            android:name=".controller.list_events.ListBirthdaysActivity"
            android:label="@string/title_activity_list_birthdays"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".controller.list_events.ListBirthdaysActivity">
        </activity>
        <activity
            android:name=".controller.archive.ArchiveActivity"
            android:label="@string/title_activity_archive"
            android:parentActivityName=".controller.list_events.ListBirthdaysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lweynant.yearly.controller.list_events.ListBirthdaysActivity"/>
        </activity>
    </application>

</manifest>